<div id="form">
    <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Brand Trust Form</ng-template>
                <brand-trust-form></brand-trust-form>
                <div id="buttons">
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Innovation Trust Form</ng-template>
                <innovation-trust-form></innovation-trust-form>
                <div id="buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Personal Trust Form</ng-template>
                <personal-trust-form></personal-trust-form>
                <div id="buttons">
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>