<mat-card-title>Innovation Trust</mat-card-title>

<p id="label"><strong>Relative Trust</strong> — What alternatives exist to your Innovation and how do people
    perceive that they could
    switch?</p>
<mat-form-field id="formfield" floatLabel="never">
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
        placeholder="Enter Response Here"></textarea>
</mat-form-field>

<p id="label"><strong>User Experience</strong> — How do you help people overcome the hurdles understanding and being
    active with your
    innovation?</p>
<mat-form-field id="formfield" floatLabel="never">
    <textarea matInput rows="5" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5" placeholder="Enter Response Here"></textarea>
</mat-form-field>

<p id="label"><strong>The Promise</strong> — What is the promise that your innovation is making?
</p>
<mat-form-field id="formfield" floatLabel="never">
    <textarea matInput rows="5" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5" placeholder="Enter Response Here"></textarea>
</mat-form-field>

<p id="label"><strong>Social Proof</strong> — How do users of your innovation validate it to others?
</p>
<mat-form-field id="formfield" floatLabel="never">
    <textarea matInput rows="5" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5" placeholder="Enter Response Here"></textarea>
</mat-form-field>

<div id="buttons">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
</div>