<mat-card id="card">
    <mat-card-title>Brand Trust Form</mat-card-title>
    <span></span>
    <mat-form-field id="formfield">
        <textarea matInput rows="5" placeholder="Textarea"></textarea>
    </mat-form-field>
    <mat-form-field id="formfield">
        <textarea matInput rows="5" placeholder="Textarea"></textarea>
    </mat-form-field>
    <mat-form-field id="formfield">
        <textarea matInput rows="5" placeholder="Textarea"></textarea>
    </mat-form-field>
    <mat-form-field id="formfield">
        <textarea matInput rows="5" placeholder="Textarea"></textarea>
    </mat-form-field>
    <mat-form-field id="formfield">
        <textarea matInput rows="5" placeholder="Textarea"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">Primary</button>
</mat-card>