<h1>Personal Trust Responses</h1>

<div id="button-container">
    <button mat-raised-button color="primary" type="button" (click)="downloadToCSV()">Download Responses</button>
</div>

<div id="entry-list">
    <div class="brand-and-innovation">
        <mat-card class="entry">
            <mat-card-title>Brand Trust</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <h3 mat-line>Associations</h3>
                        <p mat-line>{{brandTrust.associations}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>Inciting Incidents</h3>
                        <p mat-line>{{brandTrust.incitingIncidents}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>Conflict</h3>
                        <p mat-line>{{brandTrust.conflict}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>Call to Action</h3>
                        <p mat-line>{{brandTrust.callToAction}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>Vision</h3>
                        <p mat-line>{{brandTrust.vision}}</p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
        <mat-card class="entry">
            <mat-card-title>Innovation Trust</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <h3 mat-line>Relative Trust</h3>
                        <p mat-line>{{innovationTrust.relativeTrust}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>User Experience</h3>
                        <p mat-line>{{innovationTrust.userExperience}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>The Promise</h3>
                        <p mat-line>{{innovationTrust.promise}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>Social Proof</h3>
                        <p mat-line>{{innovationTrust.socialProof}}</p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="personal">
        <mat-card class="entry" *ngFor="let entry of personalTrust">
            <mat-card-title>{{entry.email}}</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <h3 mat-line>Connection</h3>
                        <p mat-line>{{entry.connection}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>Control</h3>
                        <p mat-line>{{entry.control}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>Consistency</h3>
                        <p mat-line>{{entry.consistency}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>Commitment</h3>
                        <p mat-line>{{entry.commitment}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <h3 mat-line>CoCreation</h3>
                        <p mat-line>{{entry.coCreation}}</p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>